{% extends "frontend/base.html" %}
{% load static compress bootstrap3 i18n %}

{% block extra_head %}
{% compress css %}
<link href="{% static 'stylesheets/settings.css' %}" rel="stylesheet">
<link href="{% static 'stylesheets/frontend.scss' %}" rel="stylesheet" type="text/x-scss">
{% endcompress %}
{% endblock %}

{% block panel-body %}

<div class="sidebar"></div>


<form method="post">{% csrf_token %}
    <div class="row content-container settings_main">
        {% if form.errors %}
        <p class="alert alert-danger">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
            {% trans "Please correct the errors below." %}{% endif %}
        </p>
        {% endif %}

        <div class="col-md-8">
            <div class="heading">Login Details</div>

            <div class="form-container row">

                <div class="mb-4 col-md-6">
                    <div class="form-group">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" value="{{ user.email }}">
                    </div>
                </div>
                <div class="mb-4 col-md-6">
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <div class="form-control" style="display: flex; align-items: center;">
                            <a href="{% url 'password_change' %}">{% trans 'Change your password' %}</a>
                        </div>
                    </div>
                </div>

                <div class="mb-4 col-md-6">
                    <div class="form-group">
                        <label for="upload-team" class="form-label">Team for Result Upload</label>
                        <input type="text" class="form-control" id="upload-team" value="{{user.team|default:'-'}}">
                    </div>
                </div>

                <div class="mb-4 col-md-6">
                    <div class="form-group">
                        <label for="dashboard-team" class="form-label">Dashboard Team</label>
                        <input type="text" class="form-control" id="dashboard-team" placeholder="Switzerland">
                    </div>
                </div>
            </div>


            <div class="heading">Personal Data</div>

            <div class="form-container row">
                <div class="mb-4 col-md-6">
                    {% bootstrap_field form.first_name %}
                </div>
                <div class="mb-4 col-md-6">
                    {% bootstrap_field form.last_name %}
                </div>
                <div class="mb-4 col-md-6">
                    {% bootstrap_field form.salutation %}
                </div>

                <div class="mb-4 col-md-6">
                    {% bootstrap_field form.title %}
                </div>
                <div class="mb-4 col-md-6">
                    {% bootstrap_field form.landline %}
                </div>
                <div class="mb-4 col-md-6">
                    {% bootstrap_field form.mobile %}
                </div>
            </div>
        </div>
        <div class="col-md-4 avatar-container">
            <div class="text-center">
                <img src="{% static 'images/images/avatar.jpg' %}" class="avatar">
                <p class="desc">Profile Picture</p>
                <a href="#">Edit</a>
            </div>
        </div>
    </div>
    <div class="row form_button_div">
        <div class="col-sm-12">
            <button type="submit" class="btn save-button">Save</button>
        </div>

    </div>


</form>


{% endblock %}