{% extends "frontend/base.html" %}
{% load static compress bootstrap3 i18n %}

{% block extra_head %}
{% compress css %}
<link href="{% static 'stylesheets/settings.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock %}

{% block main_page %}

<div class="row content-container">


    <!-- <form method="post">{% csrf_token %} -->

        <div class="col-md-8">
            <div class="heading">Login Details</div>
            <div class="form-container row">
                <div class="mb-4 col-md-6">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" value="{{ user.email }}">
                </div>
                <div class="mb-4 col-md-6">
                    <label for="password" class="form-label">Password</label>
                    <p>
                        <a href="{% url 'password_change' %}">{% trans 'Change your password' %}</a>
                    </p>
                </div>

                <div class="mb-4 col-md-6">
                    <label for="upload-team" class="form-label">Team for Result Upload</label>
                    <input type="text" class="form-control" id="upload-team" value="{{user.team|default:'-'}}">
                </div>

                <div class="mb-4 col-md-6">
                    <label for="dashboard-team" class="form-label">Dashboard Team</label>
                    <input type="text" class="form-control" id="dashboard-team" placeholder="Switzerland">
                </div>
            </div>

            <!-- Personal Data -->
            <div class="heading">Personal Data</div>
            <div class="form-container row">
                <div class="mb-4 col-md-6">
                    <!-- <label for="fname" class="form-label">First Name</label> -->
                    {% bootstrap_field form.first_name %}
                    <!-- <input type="text" class="form-control" id="fname" value="{{ form.first_name }}"> -->
                </div>
                <div class="mb-4 col-md-6">
                    <!-- <label for="lname" class="form-label">Last Name</label> -->
                    <!-- <input type="text" class="form-control" id="lname" value="{% bootstrap_field form.last_name %}"> -->
                    {% bootstrap_field form.last_name %}
                </div>
                <div class="mb-4 col-md-6">
                    <!-- <label for="salution" class="form-label">Salution</label> -->
                    <!-- <input type="text" class="form-control" id="salution" value="{{ form.salutation }}"> -->
                    {% bootstrap_field form.salutation %}
                </div>

                <div class="mb-4 col-md-6">
                    <!-- <label for="title" class="form-label">Title</label> -->
                    <!-- <input type="text" class="form-control" id="title" value="{{ form.title }}"> -->
                    {% bootstrap_field form.title %}
                </div>
                <div class="mb-4 col-md-6">
                    <!-- <label for="landline" class="form-label">Landline</label> -->
                    <!-- <input type="number" class="form-control" id="password" value="{{ form.landline }}"> -->
                    {% bootstrap_field form.landline %}
                </div>
                <div class="mb-4 col-md-6">
                    <!-- <label for="mobile" class="form-label">Mobile</label> -->
                    <!-- <input type="number" class="form-control" id="password" value="{{ form.mobile }}"> -->
                    {% bootstrap_field form.mobile %}
                </div>
            </div>

            <button type="button" class="btn save-button">Save</button>
        </div>

        <div class="col-md-4 avatar-container">
            <div class="text-center">
                <img src="{% static 'images/avatar.jpg' %}" class="avatar">
                <p class="desc">Profile Picture</p>
                <a href="#">Edit</a>
            </div>
        </div>


</div>

{% endblock %}