@import "frontend_variables";

body.dashboard.update {

  #sidebar {

    overflow-y: auto;

    .sidebar-sub-div {
      .form-group {
        label {
          font-weight: normal;
          font-size: 1.2rem;
        }
      }

      button {
        background-color: #a7809e;
        border: none;
      }
    }
  }

  .row {
    position: relative;
    min-height: 60px;

    .module-add {
      position: absolute;
      right: 30px;
      top: 15px;
      z-index: -1;
    }
  }
}

body.dashboard {

  main {
    display: flex;
    background-color: #F7F4F4 !important;

    #sidebar {
      display: none;
    }

    #dashboard-content {
      position: fixed;
      top: 7%;

      height: 93%;
      width: 100% !important;

      padding: 0;
      padding: 1rem;
      overflow-y: auto;

      background-color: #F7F4F4 !important;
    }
  }



}


@media (min-width: 1000px) {
  body.dashboard {

    main {

      display: flex;
      background-color: #F7F4F4 !important;

      #sidebar {
        height: 93%;
        display: block;
        position: fixed;
        overflow-y: scroll;
        top: 7%;
        bottom: 0;
        left: 0;
        background-color: #6E255E;

        z-index: 999;
        width: 15%;
        font-size: 1.4rem;
        color: $sidebarTextColor;


        .sidebar-sub-div {
          border-right: 1px solid #a7809e;
          margin: 0rem 2rem 0rem 0rem;
          padding: 3rem 2rem;
          height: 100%;

          hr {
            margin-top: 2rem !important;
            margin-bottom: 2rem !important;
          }

          .sidebar-hr {
            border-color: #a7809e !important;
            width: 90% !important;
          }

          .heading {
            display: flex;

            img {
              margin-right: 1rem;
            }
          }

          .kplex {

            padding-top: 2rem;

            ul {
              padding: 0;
              margin: 0;
              margin-left: 2.5rem;
              list-style: none;

              li {
                label {
                  font-weight: normal;

                  input[type="radio"] {
                    /* Hide the default radio button */
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    /* Set the size of the radio button */
                    width: 1.4rem;
                    height: 1.4rem;
                    /* Add border */
                    border: 1px solid $sidebarTextColor;
                    /* Replace #000000 with your desired border color */
                    /* Add border-radius to make it round */
                    border-radius: 50%;
                    /* Add background color */
                    background-color: transparent;
                    /* Replace #ffffff with your desired background color */
                    margin-right: 0.8rem;
                  }

                  /* Style the inner circle */
                  input[type="radio"]::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 60%;
                    height: 60%;
                    border-radius: 50%;
                    /* Replace transparent with your desired color */
                    transition: background-color 0.3s ease;
                  }

                  input[type='radio']:after {
                    content: '';
                    display: none;
                  }

                  /* Change the color of the checked inner circle */
                  input[type="radio"]:checked::before {
                    /* Set the color for the checked inner circle */
                    background: #F7F4F4;
                    /* Replace #F7F4F4 with your desired color */
                  }
                }
              }
            }

            #id_kplex {

              margin-left: 2.5rem;

              label {
                display: flex;
                cursor: pointer;
                font-weight: normal;

                input[type="radio"] {
                  /* Hide the default radio button */
                  appearance: none;
                  -moz-appearance: none;
                  -webkit-appearance: none;
                  /* Set the size of the radio button */
                  width: 1.4rem;
                  height: 1.4rem;
                  /* Add border */
                  border: 1px solid $sidebarTextColor;
                  /* Replace #000000 with your desired border color */
                  /* Add border-radius to make it round */
                  border-radius: 50%;
                  /* Add background color */
                  background-color: transparent;
                  /* Replace #ffffff with your desired background color */
                  margin-right: 0.8rem;
                }

                /* Style the inner circle */
                input[type="radio"]::before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 60%;
                  height: 60%;
                  border-radius: 50%;
                  /* Replace transparent with your desired color */
                  transition: background-color 0.3s ease;
                }

                input[type='radio']:after {
                  content: '';
                  display: none;
                }

                /* Change the color of the checked inner circle */
                input[type="radio"]:checked::before {
                  /* Set the color for the checked inner circle */
                  background: #F7F4F4;
                  /* Replace #F7F4F4 with your desired color */
                }

              }
            }
          }


          .team-choices {

            padding-top: 2rem;

            ul {
              padding: 0;
              margin: 0;
              padding-left: 2.4rem;
              list-style: none;


              .child1 {
                margin: 0;
                padding: 0;
                padding-left: 0.5rem;

                .child2 {
                  margin: 0;
                  padding: 0;
                  padding-left: 0.5rem;
                }
              }

              li {
                label {

                  display: flex;
                  cursor: pointer;
                  font-weight: normal;

                  input[type="radio"] {
                    /* Hide the default radio button */
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    /* Set the size of the radio button */
                    width: 1.4rem;
                    height: 1.4rem;
                    /* Add border */
                    border: 1px solid $sidebarTextColor;
                    /* Replace #000000 with your desired border color */
                    /* Add border-radius to make it round */
                    border-radius: 50%;
                    /* Add background color */
                    background-color: transparent;
                    /* Replace #ffffff with your desired background color */
                    margin-right: 0.8rem;
                  }

                  /* Style the inner circle */
                  input[type="radio"]::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 60%;
                    height: 60%;
                    border-radius: 50%;
                    /* Replace transparent with your desired color */
                    transition: background-color 0.3s ease;
                  }

                  input[type='radio']:after {
                    content: '';
                    display: none;
                  }

                  /* Change the color of the checked inner circle */
                  input[type="radio"]:checked::before {
                    /* Set the color for the checked inner circle */
                    background: #F7F4F4;
                    /* Replace #F7F4F4 with your desired color */
                  }

                }

              }

            }
          }

          .form-group {
            margin-bottom: 1rem;
          }

          label {
            margin-bottom: 1rem;
          }

          .form-control {
            margin: 0;
            color: $sidebarTextColor;
            background-color: #632154 !important;
            border: none;
            font-size: 1.2rem !important;
            border-radius: 0.5rem;
          }

          .sidebar-icons {
            margin-top: 3rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .sidebar-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 1rem;
              background-color: #632154;
              width: 3.3rem;
              height: 3.3rem;
              border-radius: 0.3rem;
              margin-bottom: 0.5rem;

              a {
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }


      }

      #dashboard-content {
        position: fixed;
        top: 7%;
        left: 15%;

        height: 93%;
        width: 85% !important;

        padding: 0;
        padding: 1rem;
        overflow-y: auto;

        background-color: #F7F4F4 !important;
      }

    }
  }
}