@import "frontend_variables";

body {
  color: $textColor;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

header {
  .navbar-fixed-top {
    z-index: 10000;
  }

  .navbar-default {
    background-color: #fff;
    border-color: #fff;

    .navbar-brand {
      img {
        height: 20px;
      }
    }

    .navbar-nav {
      > li {
        font-size: 16px;

        > a {
          text-transform: uppercase;
        }
      }

      .active > a, .active > a:focus, .active > a:hover {
        color: #0e7dc2;
      }
    }
  }
}

main {
  margin-top: 100px;
}

body.settings {
  form {
    label {
      text-transform: uppercase;
    }
  }
}

label {
  font-weight: normal;
}

.panel {
  border-radius: 0;

  .panel-heading {
    font-size: larger;
  }

  .table {

  }
}


.navbar-nav {
  .label {
    vertical-align: middle;
    padding: 4px 6px 2px 6px;
    font-size: 100%;
  }
}

.alert {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0;
}
