$primaryColor: #0e7dc2;
$textColor: #343434;

$navbarBackground: #354456;
$navbarBackgroundHover: #465567;

$panelDefaultHeadingBackground: rgb(226, 226, 226);
$panelDefaultBodyBackground: #fff;


$lightgrey: rgb(241, 241, 241);
$darkgrey: rgb(226, 226, 226);
$text: rgb(42, 42, 42);
$text-light: rgb(152, 152, 152);
$border: rgb(192, 192, 192);
$green: #4dbe4d;
$orange: #f4b05d;
$red: rgb(255, 0, 0);