@import "frontend_variables";

html {
  font-size: 62.5%;
}

body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

header {
  height: 7rem;
  background-color: #FFFFFF;

  .header-bar {

    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    .nav-bar-brand {
      width: 15%;
      height: 7rem;
      background-color: #632154;
      position: relative;

      a {
        text-decoration: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    .nav-bar {
      width: 85%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 2rem 1rem 3rem;

      .nav-bar-menu {
        font-size: 1.7rem;
        display: flex;

        .nav-bar-link {
          width: auto;
          height: 2.5rem !important;
          padding: 0rem 1.3rem;
          border-right: 1px solid #dddde6;

          a {
            display: flex;
            align-items: baseline;
            text-decoration: none;
            color: #BB5A69;

            img {
              margin-right: 0.5rem;
            }
          }

        }
      }

      .nav-bar-right {
        display: flex;
        align-items: center;

        .search-container {

          display: flex;
          align-items: center;
          width: 26rem;
          background-color: #F7F4F4 !important;
          padding: 0.8rem 1rem;
          border-radius: 0.9rem;

          span {
            margin-right: 5px;
          }

          .search-field {
            color: #6E255E !important;
            border: none !important;
            outline: none !important;
            margin-top: 2px !important;
            font-size: 1.4rem !important;
            width: 23rem !important;
            background-color: transparent;

            :focus {
              border: none !important;
              outline: none !important;
              box-shadow: none !important;
            }
          }
        }

        .alerts {
          height: 2.5rem !important;
          padding: 0.4rem 1.5rem 0.8rem 1.5rem;
          border-right: 1.5px solid #dddde6;
        }

        .profile {
          display: flex;
          align-items: center;
          padding-left: 1.5rem;

          .name {
            line-height: 1;
            color: #4D4F5C;
            font-size: 1.2rem;
          }

          .icon {
            margin-left: 1rem;
            margin-right: 1rem;
            width: 1.2rem;
            cursor: pointer;
          }

          .dropdown {
            .dropdown-menu {
              padding: 1.6rem 1.6rem 1rem 1.6rem;
              border-radius: 0.4rem;
              box-shadow: 0px 0.2px 1rem #00000027;
              border: none;
              background-color: #FFFFFF;

              li {
                .link {
                  &:hover {
                    color: #6E255E;
                  }
                }

                .dropdown-item {
                  border-bottom: 1px solid #F1F1F3;
                  color: #4D565C;
                  padding: 1rem;
                  text-align: center;
                  font-size: 1.2rem;

                  &:hover {
                    background-color: transparent;
                  }
                }
              }
            }
          }



          .avatar {
            height: 3rem;
            width: 3rem;
            border-radius: 5rem;
          }
        }
      }
    }

    .hamburger-icon {
      display: none;
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 52%;
  }
}


@media (max-width: 1000px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 768px) {

  html {
    font-size: 50%;
  }

  header {
    position: relative;
    z-index: 1;

    .header-bar {
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;

      .nav-bar {
        display: none;

        &.open {
          width: 100%;
          display: block !important;
          z-index: 999;
          padding: 0;
          margin: 0;
          padding: 1.5rem;


          .nav-bar-menu {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            margin-bottom: 2rem;
            


            .nav-bar-link {
              padding: 0;
              margin: 0;
              width: 100%;
              border-bottom: 1px solid #dddde6;
              border-right: none;
              margin-bottom: 2rem;

              a {
                align-items: baseline;
                img {
                  width: 2.2rem;
                  height: 2.2rem;
                }
              }
            }
          }

          .nav-bar-right {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: end;
            padding: 0;
            margin: 0;

            .alerts {
              width: 100%;
              padding: 0;
              margin: 0;
              margin-bottom: 2rem;
              padding: 0rem 1rem;
              border-bottom: 1px solid #dddde6;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              border-right: none;
            }

            .profile {
              width: 100%;
              padding: 0;
              margin: 0;
              margin-bottom: 1rem;
              padding: 0rem 1rem;
              border-bottom: 1px solid #dddde6;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }

            .search-container {
              width: 100%;
              padding: 0;
              margin: 0;
              margin-bottom: 2rem;
              padding: 0rem 1rem;
              border-bottom: 1px solid #dddde6;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              border-radius: 0.9rem;
            }
          }
        }


      }

      .hamburger-icon {
        display: flex;
      }

      .nav-bar-brand {
        width: 50%;
      }
    }
  }
}