{% extends 'frontend/base.html' %}
{% load static compress datalab_tags bootstrap3 i18n %}

{% block extra_head %}
{{ block.super }}
{% compress css %}
<link href="{% static 'stylesheets/alerts.scss' %}" rel="stylesheet" type="text/x-scss">
{% endcompress %}
{% endblock %}

{% block main %}

<div class="main_container">
    <div class="sidebar"></div>
    <div class="content-container">
        <div class="recent_alerts">

            <div class="heading">{% trans 'Recent Alerts' %}</div>

            <div class="alert-notification-wrapper">
                <div class="alert-notification">

                    <img src="{% static 'images/images/avatar.jpg' %}" />
                    <div class="alert_content">
                        <div class="alert-title">
                            <b>David Lee</b> is negative.
                        </div>
                        <div class="alert-time">4min ago</div>
                    </div>

                </div>

                <div class="alert-notification">

                    <img src="{% static 'images/images/avatar.jpg' %}" />
                    <div class="alert_content">
                        <div class="alert-title">
                            <b>David Lee</b> is negative.
                        </div>
                        <div class="alert-time">4min ago</div>
                    </div>

                </div>

                <div class="alert-notification">

                    <img src="{% static 'images/images/avatar.jpg' %}" />
                    <div class="alert_content">
                        <div class="alert-title">
                            <b>David Lee</b> is negative.
                        </div>
                        <div class="alert-time">4min ago</div>
                    </div>

                </div>

                <div class="alert-notification">

                    <img src="{% static 'images/images/avatar.jpg' %}" />
                    <div class="alert_content">
                        <div class="alert-title">
                            <b>David Lee</b> is negative.
                        </div>
                        <div class="alert-time">4min ago</div>
                    </div>

                </div>

                <div class="alert-notification">

                    <img src="{% static 'images/images/avatar.jpg' %}" />
                    <div class="alert_content">
                        <div class="alert-title">
                            <b>David Lee</b> is negative.
                        </div>
                        <div class="alert-time">4min ago</div>
                    </div>

                </div>

                <div class="alert-notification">

                    <img src="{% static 'images/images/avatar.jpg' %}" />
                    <div class="alert_content">
                        <div class="alert-title">
                            <b>David Lee</b> is negative.
                        </div>
                        <div class="alert-time">4min ago</div>
                    </div>

                </div>

                <div class="alert-notification">

                    <img src="{% static 'images/images/avatar.jpg' %}" />
                    <div class="alert_content">
                        <div class="alert-title">
                            <b>David Lee</b> is negative.
                        </div>
                        <div class="alert-time">4min ago</div>
                    </div>

                </div>

                <div class="alert-notification">

                    <img src="{% static 'images/images/avatar.jpg' %}" />
                    <div class="alert_content">
                        <div class="alert-title">
                            <b>David Lee</b> is negative.
                        </div>
                        <div class="alert-time">4min ago</div>
                    </div>

                </div>

                <div class="alert-notification">

                    <img src="{% static 'images/images/avatar.jpg' %}" />
                    <div class="alert_content">
                        <div class="alert-title">
                            <b>David Lee</b> is negative.
                        </div>
                        <div class="alert-time">4min ago</div>
                    </div>

                </div>

                <div class="alert-notification">

                    <img src="{% static 'images/images/avatar.jpg' %}" />
                    <div class="alert_content">
                        <div class="alert-title">
                            <b>David Lee</b> is negative.
                        </div>
                        <div class="alert-time">4min ago</div>
                    </div>

                </div>

                <div class="alert-notification">

                    <img src="{% static 'images/images/avatar.jpg' %}" />
                    <div class="alert_content">
                        <div class="alert-title">
                            <b>David Lee</b> is negative.
                        </div>
                        <div class="alert-time">4min ago</div>
                    </div>

                </div>

                <div class="alert-notification">

                    <img src="{% static 'images/images/avatar.jpg' %}" />
                    <div class="alert_content">
                        <div class="alert-title">
                            <b>David Lee</b> is negative.
                        </div>
                        <div class="alert-time">4min ago</div>
                    </div>

                </div>
            </div>

            <!-- {% if recent %}
            {% for alert in recent %}
            <div>
                <td>{{ alert.template.title }}</td>
                <td>{{ alert.date }}</td>
                <td>{{ alert.total }}</td>
                <td>{{ alert.trigger }}</td>
                <td>{{ alert.template.threshold }}%</td>
                <td>{{ alert.rate }}%</td>
                <td><a href="?process={{ alert.id }}"><i class="glyphicon glyphicon-check"></i></a>
                </td>
            </div>

            <div class="alert-notification">

                <img src="{% static 'images/images/avatar.jpg' %}" />
                <div class="alert_content">
                    <div class="alert-title">
                        <b>David Lee</b> is negative.
                    </div>
                    <div class="alert-time">4min ago</div>
                </div>

            </div>
            {% endfor %}
            {% else %}
            <div class="empty-alerts-recent">
                {% trans 'No recent alerts.' %}
            </div>
            {% endif %} -->

        </div>

        <div class="alert_config">
            <div class="heading">{% trans 'Alert Configuration' %}</div>
            <div class="alerts_table_div">
                <div class="table-wrapper">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>{% trans 'title' %}</th>
                                <th>{% trans 'test' %}</th>
                                <th>{% trans 'team' %}</th>
                                <th>{% trans 'interval' %}</th>
                                <th>{% trans 'threshold' %}</th>
                            </tr>
                            {% for template in templates %}
                            <tr>
                                <td>
                                    <a href="{% url 'alert_template_update' template.pk %}">
                                        {{ template.title }}
                                    </a>
                                </td>
                                <td>{{ template.test }}</td>
                                <td>{{ template.team|default:'-' }}</td>
                                <td>{{ template.get_interval_display }}</td>
                                <td>{{ template.threshold }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>


                <div class="add_alerts_icon">
                    <a href="{% url 'alert_template_add' %}">
                        <img src="{% static 'images/images/new_svgs/Path.svg' %}" />
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}