{% extends 'frontend/base.html' %}
{% load static compress datalab_tags bootstrap3 i18n %}

{% block extra_head %}
{{ block.super }}
{% compress css %}
<link href="{% static 'stylesheets/alerts.scss' %}" rel="stylesheet" type="text/x-scss">
{% endcompress %}
{% endblock %}

{% block main %}

<div class="main-container">
    <div class="sidebar"></div>
    <div class="content-container">
        <div class="recent-alerts">

            <div class="heading">{% trans 'Recent Alerts' %}</div>

            <div class="alert-notification-wrapper">

                {% if recent %}
                    {% for alert in recent %}
                        <div class="alert-notification">

                            <div class="alert-content">
                                <div class="alert-title">
                                    {{ alert.template.title }}
                                </div>
                                <div class="alert-time">
                                    {{ alert.date }}
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                {% else %}
                    <div class="empty-alerts-recent">
                        {% trans 'No recent alerts.' %}
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="alert-config">
            <div class="heading">{% trans 'Alert Configuration' %}</div>
            <div class="alerts-table-div">
                <div class="table-wrapper">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>{% trans 'title' %}</th>
                                <th>{% trans 'test' %}</th>
                                <th>{% trans 'team' %}</th>
                                <th>{% trans 'interval' %}</th>
                                <th>{% trans 'threshold' %}</th>
                            </tr>
                            {% for template in templates %}
                            <tr>
                                <td>
                                    <a href="{% url 'alert_template_update' template.pk %}">
                                        {{ template.title }}
                                    </a>
                                </td>
                                <td>{{ template.test }}</td>
                                <td>{{ template.team|default:'-' }}</td>
                                <td>{{ template.get_interval_display }}</td>
                                <td>{{ template.threshold }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>


                <div class="add-alerts-icon">
                    <a href="{% url 'alert_template_add' %}">
                        <img src="{% static 'images/images/new_svgs/Path.svg' %}" />
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}