{% extends 'frontend/base.html' %}
{% load static compress datalab_tags bootstrap3 i18n %}

{% block extra_head %}
{{ block.super }}
{% compress css %}
<link href="{% static 'stylesheets/add_alerts.scss' %}" rel="stylesheet" type="text/x-scss">
{% endcompress %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="sidebar"></div>
    <div class="panel">
        <div class="panel-body">
            <div class="panel-heading">
                {% if instance.pk %}
                    {% trans 'Update Alert' %}
                {% else %}
                    {% trans 'Create Alert' %}
                {% endif %}    
            </div>
            <form method="post" class="form-horizontal">{% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                </div>
                <a href="{% url 'alerts' %}" class="btn btn-default">{% trans 'Back' %}</a>
                {% if instance.pk %}
                <a href="{% url 'alert_template_delete' instance.pk %}" class="btn btn-danger">{% trans 'Delete' %}</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/frontend/add_alerts.js' %}"></script>
{% endblock %}