{% load static i18n bootstrap3 %}

<form method="post">
    {% csrf_token %}
    {% bootstrap_field form.period %}
    {% bootstrap_field form.period_from %}
    {% bootstrap_field form.period_to %}
    <hr class="sidebar-hr">
    <span class="heading">
        <img src="{% static 'images/images/new_svgs/mplex.svg' %}">mPlex
    </span>
    <div class="kplex">
        <ul>
            <li>
                <label for="id_kplex_null">
                    <input type="radio" name="kplex" value="" id="id_kplex_null" {% if instance.kplex is none %}checked
                        {% endif %}>
                    All
                </label>
            </li>
        </ul>
        {{ form.kplex }}
    </div>
    <hr class="sidebar-hr">
    {% if dashboard_teams %}
    <span class="heading">
        <img src="{% static 'images/images/new_svgs/teams.svg' %}">Teams
    </span>
    <div class="teams">
        <ul>
            
        </ul>
        {{ form.teams }}
    </div>
    <hr class="sidebar-hr">
    {% endif %}
</form>