{% extends 'bootstrap3.html' %}
{% load static compress bootstrap3 i18n %}

{% block extra_head %}
{% compress css %}
<link href="{% static 'stylesheets/frontend.scss' %}" rel="stylesheet" type="text/x-scss">
{% endcompress %}
{% endblock %}

{% block header %}



<nav class="header-bar navbar-default">
    <div class="nav-bar-brand">
        <a href="/">
            <img src="{% static 'images/images/navbar-logo.png' %}">
        </a>
    </div>

    <!-- hamburger icon -->
    <img class="hamburger-icon" src="{% static 'images/images/new_svgs/Menu.svg' %}" />
    <!-- hamburger icon -->

    <div class="nav-bar">

        <!-- nav menu links -->
        <div class="nav-bar-menu">
            <div class="nav-bar-link">
                <a href="/" id="dashboard-link">
                    <img id="dashboard-svg" src="{% static 'images/images/new_svgs/dashboard.svg' %}">
                    <div>Dashboard</div>
                </a>
            </div>
            <div class="nav-bar-link">
                <a href="/dashboard/map/" id="map-link">
                    <img id="map-svg" src="{% static 'images/images/new_svgs/map.svg' %}">
                    <div>Map</div>
                </a>
            </div>
            <div class="nav-bar-link">
                <a href="/dashboard/results/" id="results-link">
                    <img id="results-svg" src="{% static 'images/images/new_svgs/results.svg' %}">
                    <div>Results</div>
                </a>
            </div>
            <div class="nav-bar-link">
                <a href="#">
                    <img id="calendar-svg" src="{% static 'images/images/new_svgs/calender.svg' %}">
                    <div>Calendar</div>
                </a>
            </div>
        </div>
        <!-- nav menu links -->

        <!-- nav right section -->
        <div class="nav-bar-right">

            <div class="search-container">
                <span><img src="{% static 'images/images/search.svg' %}"></span>
                <input type="text" class="search-field" id="search" placeholder="Search result & health data">
            </div>

            <div class="alerts">
                <a href="{% url 'alerts' %}" id="alerts-link">
                    <img src="{% static 'images/images/notification.svg' %}" id="notification-svg" />
                    <img src="{% static 'images/images/notification_with_alert.svg' %}" id="alert-svg" style="display: none;" />
                </a>
            </div>

            <div class="profile">
                <div class="name">Jhon Doe</div>

                <div class="dropdown">
                    <img src="{% static 'images/images/small-down.svg' %}" class="icon dropdown-toggle"
                        data-toggle="dropdown" aria-expanded="false">
                    <ul class="dropdown-menu dropdown-menu-right custom-dropdown">
                        <li>
                            <div class="dropdown-item">
                                <b>Status:</b> Online
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-item link" href="{% url 'settings' %}">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>

                <img src="{% static 'images/images/avatar.jpg' %}" class="avatar">
            </div>
        </div>
        <!-- nav right section -->

    </div>
</nav>

{% bootstrap_messages %}
{% endblock %}

{% block main %}
<div class="container-fluid">
    {% block before-content %}{% endblock %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% block panel-heading %}{{ title }}{% endblock %}
        </div>
        <div class="panel-body">
            {% block panel-body %}{% endblock %}
        </div>
    </div>
    {% block after-content %}{% endblock %}
</div>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/frontend/frontend.js' %}"></script>
{% endblock %}