{% extends 'frontend/base.html' %}
{% load static compress datalab_tags bootstrap3 i18n %}

{% block extra_head %}
{% compress css %}
<link href="{% static 'stylesheets/dashboard.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock %}

{% block main_page %}

<div class="row dashboard__page">
    <div class="col-md-10 offset-md-1">
        <!-- counts card -->
        <div class="d-flex flex-wrap">
            <div class="info-card custom-card position-relative">
                <div>
                    <div class="title">mPlex in Stock</div>
                    <div class="number" id="nbr-2">16,278</div>
                    <img class="mplex-icon" id="mPlexToggleBtn" src="{% static 'images/mplex-store-icon.svg' %}">
                    <div id="mPlexContent" style="display: none;">
                        <div class="row mt-4" style="width: 800px">
                            <div class="col-md-7">
                                <div class="heading">Remaining mPlex Stock</div>
                                <canvas id="mPlexStockUsage"></canvas>
                            </div>
                            <div class="col-md-5 border-start">
                                <div class="heading">mPlex Stock Usage</div>
                                <div class="lables">
                                    <div class="label row">
                                        <div class="col-md-1">
                                            <img src="{% static 'images/drug-of-abuse.svg' %}">
                                        </div>
                                        <div class="col-md-6">
                                            Drugs of Abuse
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">3,568</div>
                                    </div>

                                    <div class="label row">
                                        <div class="col-md-1">
                                            <img src="{% static 'images/cardic.svg' %}">
                                        </div>
                                        <div class="col-md-6">
                                            Cardic
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">0</div>
                                    </div>

                                    <div class="label row">
                                        <div class="col-md-1">
                                            <img src="{% static 'images/pandemic.svg' %}">
                                        </div>
                                        <div class="col-md-6">
                                            Pandemic
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">4,892</div>
                                    </div>


                                    <div class="label row">
                                        <div class="col-md-1">
                                            <img src="{% static 'images/std.svg' %}">
                                        </div>
                                        <div class="col-md-6">
                                            STD
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">4,892</div>
                                    </div>

                                    <div class="label row">
                                        <div class="col-md-1">
                                            <img src="{% static 'images/hepatitis.svg' %}">
                                        </div>
                                        <div class="col-md-6">
                                            Hepatitis
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">100</div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="info-card custom-card">
                <div>
                    <div class="title">Active mReaders</div>
                    <div class="number" id="nbr-1">125</div>
                </div>
            </div>

            <div class="info-card custom-card bars">
                <div>
                    <div class="title">Total Tests</div>
                    <div class="number" id="nbr-4">41,895</div>
                    <div class="percentage"><img src="{% static 'images/DownArrow.svg' %}">
                        <span class="number" id="pnbr-4">6.9%</span>
                    </div>
                </div>
                <div>
                    <img class="bars-image" src="{% static 'images/bar-chart-light.svg' %}">
                </div>
            </div>

            <div class="info-card custom-card bars">
                <div>
                    <div class="title">Positive Tests</div>
                    <div class="number orange" id="nbr-6">3,497</div>
                    <div class="percentage"><img src="{% static 'images/DownArrow.svg' %}">
                        <span class="number" id="pnbr-6">
                            27.8%
                        </span>
                    </div>
                </div>
                <div>
                    <img class="bars-image" src="{% static 'images/bar-chart-dark.svg' %}">
                </div>
            </div>

            <div class="info-card custom-card bars">
                <div class="">
                    <div class="title">Negative Tests</div>
                    <div class="number" id="nbr-3">38,398</div>
                    <div class="percentage"><img src="{% static 'images/DownArrow.svg' %}">
                        <span class="number" id="pnbr-3">
                            27.8%
                        </span>
                    </div>
                </div>
                <div class="">
                    <img class="bars-image" src="{% static 'images/bar-chart-light.svg' %}">
                </div>
            </div>


        </div>

        <!-- Table and Map -->
        <div class="col-md-12 mt-4">
            <div class="row">
                <div class="col-md-8">
                    <div class="custom-card">
                        <table class="table">
                            <thead class="table-light table-header" style="position: sticky;top: 0">
                                <th scope="col">MEASUREMENT</th>
                                <th scope="col">DATE/TIME</th>
                                <th scope="col">TEAM</th>
                                <th scope="col">mPlex</th>
                                <th scope="col"></th>
                                <th scope="col">POSITIVE</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#2458963</td>
                                    <td>Mar 15, 2024 9.45AM</td>
                                    <td>Switzerland</td>
                                    <td>Drugs of Abuse</td>
                                    <td>
                                        <span class="dot"></span>
                                    </td>
                                    <td>@Yes</td>
                                </tr>
                                <tr class="active">
                                    <td>#2458962</td>
                                    <td>Mar 15, 2024 9.45AM</td>
                                    <td>France</td>
                                    <td>Hepatitis</td>
                                    <td>
                                        <span class="dot"></span>
                                    </td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td>#2458963</td>
                                    <td>Mar 15, 2024 9.45AM</td>
                                    <td>Switzerland</td>
                                    <td>Drugs of Abuse</td>
                                    <td>
                                        <span class="dot"></span>
                                    </td>
                                    <td>@Yes</td>
                                </tr>
                                <tr>
                                    <td>#2458962</td>
                                    <td>Mar 15, 2024 9.45AM</td>
                                    <td>France</td>
                                    <td>Hepatitis</td>
                                    <td>
                                        <span class="dot"></span>
                                    </td>
                                    <td>No</td>
                                </tr>
                                <tr class="active">
                                    <td>#2458963</td>
                                    <td>Mar 15, 2024 9.45AM</td>
                                    <td>Switzerland</td>
                                    <td>Drugs of Abuse</td>
                                    <td>
                                        <span class="dot"></span>
                                    </td>
                                    <td>@Yes</td>
                                </tr>
                                <tr>
                                    <td>#2458962</td>
                                    <td>Mar 15, 2024 9.45AM</td>
                                    <td>France</td>
                                    <td>Hepatitis</td>
                                    <td>
                                        <span class="dot"></span>
                                    </td>
                                    <td>No</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="custom-card">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- charts -->
        <div class="col-md-12 mt-4">
            <div class="row">
                <div class="col-md-8 module">
                    <div class="custom-card">
                        <canvas id="testsReports"></canvas>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="custom-card module">
                        <canvas id="teamActivity"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 text-center">
        <div class="mb-3 mt-2">
            <a href="#"><img src="{% static 'images/eidt.svg' %}"></a>
        </div>
        <div>
            <a href="#"><img src="{% static 'images/cursor.svg' %}"></a>
        </div>
    </div>
</div>

{% endblock %}


{% block extra_js %}
<!-- Maps abstraction -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/frontend/chart.js' %}"></script>
<script src="{% static 'js/frontend/chart.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
    const toggleBtn = document.getElementById("mPlexToggleBtn");
    const toggleDiv = document.getElementById("mPlexContent");

    toggleBtn.addEventListener("click", function () {
        if (toggleDiv.style.display === "none") {
            toggleDiv.style.display = "block";
        } else {
            toggleDiv.style.display = "none";
        }
    });
</script>
{% endblock %}