{% extends "anonymous.html" %}
{% load i18n static django_bootstrap5 %}

{% block content_body %}
    {% if validlink %}
        <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form method="post">{% csrf_token %}
            <div class="mb-3">
                {% bootstrap_field form.new_password1 %}
            </div>
            <div class="mb-3">
                {% bootstrap_field form.new_password2 %}
            </div>
            <button type="submit" class="btn btn-primary">
                {% translate 'Change my password' %}
            </button>
        </form>
    {% else %}
        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}
